<ui-toolbar [isLoggedIn]="isLoggedIn$ | async" [title]="title" [sidenav]="sidenav" (logout)="logout($event)"></ui-toolbar>

<mat-sidenav-container>
  <mat-sidenav [opened]="isSidenaveOpen(sidenav, isLoggedIn$ | async)" #sidenav mode="side" class="app-sidenav">
    <nav>
      <a mat-button class="nav-link" *ngFor="let link of links"
        [routerLink]="link.path" routerLinkActive="active">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}
      </a>
    </nav>
  </mat-sidenav>

  <div class="app-content" [@routerAnimations]="prepareRouterState(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</mat-sidenav-container>
