<div class="container">
  <!-- PROJECTS LIST -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Projects</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item (click)="selectProject(project)"
            *ngFor="let project of projects$ | async">
            <h3 [style.color]="primaryColor"  mat-line>
              {{project.title}}
            </h3>
            <p mat-line>
              {{project.details}}
            </p>
            <button mat-icon-button
              (click)="deleteProject(project);$event.stopImmediatePropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- PROJECT DETAILS -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>
            <span *ngIf="selectedProject; else elseBlock">{{selectedProject.title}}</span>
            <ng-template #elseBlock>Select a Project</ng-template>
          </h1>
        </mat-card-title>
      </mat-card-header>
      <form>
        <mat-card-content>
          <pre>{{selectedProject | json}}</pre>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-button color="primary">Save</button>
          <button type="button" mat-button (click)="cancel()">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
